.bg {
  background-image: url("https://lh3.googleusercontent.com/e6hX16OFSqh-rB4D8loMe3maPZqvH1PhGeOFbOO9MkWKssDEV9TirkcNmrVPuUOQuQqZieCZhJxee7XFRUCtTzKbGiKcPqVsKVxMFIHzIyTN571iXM4y8h5FftUCLSoXUT_fZTvw82JmZoaKOxlx6Z6Ww3dTl6Ms0XquMXaA5HbgAP8PO-Q-ml5HdfZ5sOLcpr7EPEuY8ok14jWjRp-6RXt4GE9OfDIQNZ0SbsIw5Q8RDiio-shi_svyN9YOXGSOm-ItKEy3uYwLdNEqOsa_FAi8qMXlpioMPHhbK0LqpiqqQtG5aJ-DJLOd1tP3QDm1wW9zosygvIA6Cs5Q6xoHY8cw5NibONV_rWKXbqE_1FCGXTCoHzVmFsnHGnDkbFNQh4YPhLU5jQcOjWa3uWIh6p5_HUdXN969V9WOZMJyYRsElIp33T5mUMAzjxluFLPI0CNJ-xt5jzlWa3cFhoD2yVp7kpKGwD9c3XHToTZ9ncEDG41dzbjLKIpsRChK6BBgGptTu6GUHQONfoJLIJD-07bT8KkVb9tUHRYYDJaaJBJzS4oAc1eMjbbmvyRboSPJPJVyhyMQFN5uVc10ivUhj8aX29gNCrPa4AkrLYxlMvIp3vZ_TTn7f5eQsLubA-rZJhb3M0ZAxoLwvtIuLGktZfLhI6DZzlFt0I-ahwJ86wo16XhVGV129thBlzuYhbLfJnG3Rb1i8ZDZfy4rBh4Jy902=w1354-h903-no?authuser=0");
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}
#centered{
  top: 50%;
  left: 5%;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  transition:padding 4s;
}
#centered:hover {
  padding:5px 100px 0 100px;
  
}


<img src="https://lh3.googleusercontent.com/M1f_XeVarzHFPTOwE2WHDj2DDJpz7I9NUyKNP3cnwDgXDszEKKyiklHJ--XaR3jVO-vVALJOaMS2ONY1SKAm85kttBQqghRk-KUOuBw2XJkKnUHO_A8J5cIbSvgL6eTGCX8EFRWhhtFiTtk4yZ_PTRqXxSxn9JGfjl6GRqfiI1kpUrR7V0EhrukYjrbOWvzCqqccsjzYUv2Li26fWwo7vTuDmJGzWJGa5LpMtqKcjrvgDAH93XWWs4oF0IsAlkvUmXJ_tRmqIsCXWLNIDEwJnTTQgYfC1UjNE5urw-HfW-nyhFws00SrT5xG7YxMmNrGmuyVw8v4_-DnhOZSWwujs-q_Lt9WBfYnv8Mbnw4NTzUYhJlu-epu3DTX43vfWEiMN5CnnSpzh55TNT8XsLdtQUP4GeFFpg1h4hg0iIgmQ2IvrRbS_O1MqLYVriy26EvtNU8A66eJ79AV_2hhJfyTiTopVB87zyuZwwsBMjzLrhctG09o9JO6LTYf3VaVvdynuWpL-dZ5x2B3-Ap8w1QHFYbXMNPzCjcRCpC7ZW8NTHMT0Frxgf2r5f9Tf6dPmlCsN2ts5Guv1ILB1cbXLRWWpD1WY_8QZfrs0jNQSqQk1ww-X4xbgF-FwWSrJ_qtGg8rKjTURgAEj7PyWU1xin72AzWmdcehTBHoJ3pEzPMshjpFh8K42-MLkTq8BH8mnPv4mwU47Gz5siEfnicA8aXJsP1W=w1204-h903-no?authuser=0">



#a-tag{
  background-color: red;
}
#b-tag {

  float: right;
  top: 120%;
  left: 10%;
  overflow: hidden;
  width:300px ;
  height: 50px;
  text-align: center;
  background-color: black;
  color: white;
  font-size:15px;
  transition: width 1s, height 2s;
  animation:myslide 4s, ease-in 2s ;
}

#b-tag:hover {
  width: 1200px;
  height: 200px;
  transform: scale(1,1);
  padding: 10px;
}
@keyframes myslide {
  0% { opacity: 0; }
  100% { opacity: 1; }

  0%{ top:130% }
  100%{top:120%}
}


.mySlides {
  background-image: url(https://lh3.googleusercontent.com/8KbvZUIAL_QrvdkC_w04ZXROGxZebUjQUa4x7ZmYxW9XiY2zrj0ByVHt-sYfdM4n8P2qMB_O2hbYM2B5TIUU3vt4F7slS8gidwCk3hb70nUUcD8K9dWsDkGVPQqw35PxZCA5McCO7g4avC-Z0ELlX0ol3BU8_8Tf1qxaoPgoiranBFHtkuKna2c1qzZU5jk5CWJ07-A9B9UKo3A_WjxSBvaDGF9QMJlhKxcivegEXiEGwLT-IjOrlPhKfKO71fzxHGmoDm3QPoNyJYb2f1ZZgqGgxN7kyZf0Sc8z6zBYuQwW9qTs2ONkQw8Fj1tUsPaxONf4PLMEiP89l-u60wBGKWPq5_RSeukU3Ax0rv5PxQX74HFNyZgiEWwfXNvINJZgGYS3EF7OwHxJUuR5i6Lqu9bdz6-FHl30xKKs1hZXJncyjUJu3hKH2nM0ihBzUhR9nvR_APadvicRuGZ0CdXdRtByGir_EAqnDjM8w4-xJxHnNbDtcdGEMCCbcJkzDTOI318ciiB-tKGibULgdqa3VNhdBVAGY2Ta-rN9RAmGpHKr3g1G5okcZ0R6Pc0P8eyq2bQNssmJT6fLQCaWjbhR_7k_uaXhhf_Urm7D699KfUx5Bn2NEXqy4oxzAtHny_l5_ERl9e14V4WbiP1Xwu-Sb2BBSJW4-QdZdXJqvUSb5eRkWfJuWXe5nd-8ol1CQCJ0StQPGvSICv-3dKupV69Trwsb=w1495-h903-no?authuser=0");
  top: 150%;
  left:20% ;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}
   <img src="https://lh3.googleusercontent.com/TBc0OEigGdRZ-bpWmN4isDG8SOZXcRKDjmBs2_BDrf9VRtSoi_PHpam0TjgQNdK5lgtZMdaeh-V8rz6mMnZi-sQNp8C7uHvfauaHoCYVi5l07VvMEvWm6wX-POhCBMnj9wmK4hPOefJ5OXXtws9S0si7wsDPNk_BF2kr14bkvnMkhZsCq-qI_ok4BDk2vwCL8-vqPJYHZ9Dp87ffjkFvHyw796s9Pn-aE5M3DySn0b-mBKI50X28P7WrF3FI9nJk_Fg4VbrrnLR2NwjoAATqsSltvphLP2MtuxJ9hxMDC2ve249SdRa2e0VlkwWwiAbY9cT0_agbsUPtO0-3zB_wKEqDs0Q3CDIJSq_wHO7o5_9luiMOqdnF-f5oiQa9rUKfHzu7hlhOHhSh5bitcczEKNC1TLl-rdu3-Ear_ab-xVmmPz69KkQHwW_uhui3ZAkNjEN-S-GgB8d12obCOfeLEvZegzpT1tyVmN1SRUlvzEwiBt3DLPQliUU2CvEIFQpWXYOXyESmXJTZQqQiQzSeMhrWl0BeyCqgkhv3hJ0Xnb0ewnc6AYFe2BqK6qL_uEhaL8CUqmQAorpkhxmdhAjzKp3-V1m_1xt_nUG6vCykSHfib9KU3RKFO8SQ4YSHKyn-ujsktSC26CPbnO4vOkVwaBmCy0XPIhbqrkKX_lN6byWBu6dssBLC5_gXoSciJBQCiPopK1EfXfuOUs5JBKIwK_zp=w732-h903-no?authuser=0" width="25%">
   <img src="https://lh3.googleusercontent.com/c_Zmwni36eS6sVWkue1SG8YsbjE3Trb2zwG0QuM_3Us6vOll-Q10NTD4qCTeIPB4A63JACSRkH7l5wj-A0tdHdNRlWNqX4VWbwSyN8r5XqlU4GHJooMYNcJZOD-fReV4yY86Qt0EGXVgdBF6i2pPawybgIduVT4gsh8z8zmx8i_fQ2tPdIOjKjuaVwbIGKASRdFqrPUIeiOzinF8k67gbZxoPTWrNjD1oNANs2bqxpi6qQH2F2X9EuZZzKSw7ozJ491A7-PKix9NXXz_VUFd5nacSWVrIHVf26I02_oFvur5qhqvq_jBNEx6hOFA52JnqNWo2L8ag5i9U3DJ0y0D5OzmtSt4WGnwxR3pHeRsiDfLNo4-DwSPwf_5Fl3iwxiZ35m_IwZI7c3IsGSHJx4fKgKmbdy608OE5_a-yO0ftU7-spNUYKAQl0RWysuQ4qp4KxTmBL8UOjtSBQY90Ut_AAF82-zYwxfGZ-fTkPnElik2Yk2ZFCT5gygGrXE9SaDoAIctGvJt1E2mT3OMv0Jxq6sshdMLqd4lz7Xvjydg4GAJYwbZWGbwpSEZD9wI1UcskcnXrXqGEovfHYvEmactMRjOnOuBonXBb_JfE0gZvNbM2LSeq0vsVIt4R9DMynb-3cQap0eTSffSs_0aR3hnCoKlokYoWC_q6Od2lK-v-UdDLu6FIuRLGe2nu9VCIKWHWZxjN47CmvBXsl_KeZ5VH5JR=w1495-h903-no?authuser=0" width="25%">
   <img src="https://lh3.googleusercontent.com/VMa8roqtKcX5efepYgH82q0SRcOqr_Hd4VyJ5mXIAr06KUNHZJITWJ02WKXkXtFaD03zcWQ_OiDlMDnZtWpRNBTr-eUf-wQBZ7tOxL17vY4v-BDj_1VKM95Bh32K-hkg-c1pa0FAnEUIRxQ6_K15Fv9BN010zjc21Es3RqZuxJq0-1qj15xqqzRlvZgZ1pc6_Ky16jXvham0COzeYgy2zM1zfrIDg1-da94cH1ugWlmLxfgIaBRyzW5lElBKQjOQoPFEqGEDxo17dcXZ_8PbIQjhXG3U-n1mRtAmqD4UIYTdjLaU9tyWYSKGRvjZ7cHZXt70q4eNP3J8Y08nN4mNEzLutMbxaS64T6K_gBE7nES7q3ezJ7fleqkib4_HE1ABETYK3xsoFeMgPfb61ak3UjgVS0suzvBgpwDw9ExuYYLMllkhCTW4RoAi8Zb1ZZbL_4olRR9RDlqtJDeEghTJiskrkGaA21Dgs9CtQAWm8BKCUfvNGG67qB8-nH6X1GT44m0kAyWWLS5DmLojlJDPoI911uo_FIP0EOxlA-_jHA1Ydoz4MJR_6g221hDcxa_wWqgCAXpXUBhKld6aApFBXY_OQa0ZS-mhkJ4VMeaTvMvZbSo0r_dw5FpjPoZs91gajDFIq423bx7lP9-3VgqAylQLQJAx_cq13_i4GzVtd8Gm6mhu4t0hhFEZ8guIdZGZtRJRU_dWGLObZaz96eMMtHB4=w1080-h720-no?authuser=0" width="25%">