<style>
	* {
		font-family:"Times New Roman", Times;

	}
	h1{
		text-align:center; 
		color:red;
		font-size:300px;
		margin-bottom:200px;
		padding:10px;
		border: 0px

	}
	div section h2 h3{
		margin-left:0px; 
		padding:40px;
		border: 40px;
		text-align:center;
	}
	section p{
		font-size: 25px;
		margin-left:60px;
		text-align: justify;
	}
    section ol{
    	font-size:40px;
    	color:black;
    	margin-left:60px;
    }
    section ul{
    	font-size: 20px;
    	margin-left:60px;
    	text-align: justify;
    }
   a{
   		text-decoration:none;
   	}
   a:link, a:visited {
		color:black;
		background:white;
	    text-decoration:blink;
	    display: block;
	}
   a:hover, a:active{
		background:black;
		color:white; 
</style>
