<style>
	* {
		font-family:"Times New Roman", Times;
	}
	h1{
		text-align:center; 
		color:orange;
		font-size:300px;
		margin-bottom:200px;
		padding:0px;
		border: 0px

	}
	section p{
		font-size: 25px;
	}
    section ol{
    	font-size:40px;
    	color:black;
    	margin-bottom:60px;
    }
    section ul{
    	font-size: 20px;
    }
   a{
   		text-decoration:none;
   	}
   a:link, a:visited {
		color:black;
		background:white;
	    text-decoration:blink;
	    display: block;
	}
   a:hover, a:active{
		background:black;
		color:white; 
</style>